@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
*, html{
    margin-left: 0 !important; 
    padding: 0;
    box-sizing: border-box;
}
.row{
    margin-right: 0 !important;
}
.col-sm-1{
    width: 30% !important;
}
.nav-btn{
  color: black;
  text-align: center !important;
  background-color: transparent;
  font: normal 100%/1.5 "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .2s;
}
.nav-btn:hover{
    color: black;
    background: rgba(223, 223, 223, 0.712);
    transition: all .4s;
}
.nav-btn:focus, .nav-btn:active{
  outline: 0 !important;
  box-shadow: none !important;
}

  /* SCROLLBAR
  ===================================================================================*/
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background:  transparent; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:  #f1c40f; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background:  #f1c40fbb; 
      }

/* ANCORE PER FACILITARE LA NAVIGAZIONE
==============================================================================*/
.breadcrumb{
background-color: transparent !important;
font: normal 100%/1.5 "Work Sans", sans-serif;
text-transform: uppercase;
margin-left: 20px !important;
}
.breadcrumb-item a{
    color: #f1c40f !important;
}
.breadcrumb-item a:hover{
    text-decoration-line: none !important;
    color: #f1c40fbb !important;
}

/* PARTE DOVE C'è LA BIOGRAFIA
===========================================================================*/
.biografia{
    margin-top: 80px;
    text-align: start;
}
.titolo_dati{
    text-align: center;
    font: normal 100%/1.5 "Work Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.35rem;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 0 7px 0 black, 0 8px 0 black, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 black, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.testo_bio{
    margin:  30px !important;
    font: normal 100%/1.5 "Work Sans", sans-serif;
    color: white;
    font-size: 20px;
}
div.photo{
    margin-left: 30px !important;
}
.img_bio{
    width: 220px;
    height: 220px;
}
#errori{
    font-size: 18px;
    margin:10px !important;
    text-align: center !important;
    font: normal 100%/1.5 "Work Sans", sans-serif;
  }

  span.gold:hover{
      color: #f1c40f !important;
  }
/*   ultime uscite
========================*/
.ultime_uscite{
    text-align: center;
}
.dati{
    font: normal 100%/1.5 "Work Sans", sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    font-size: 19px;
}
.user_dati{
    text-transform: uppercase;
    color: #f1c40f;
    letter-spacing: 2px;
}
.user_dati:hover{
    color: #f1c40fbb;
}

    /*   MEDIA QUERY PER LE IMMAGINI
    ==================================================================*/
    @media (max-width: 768px){
        .img_bio{
            width: 90px !important;
            height: 90px !important;
        }
        .col-sm-1{
            padding-left: 30px !important;
        }
        .testo_bio{
            margin: 30px 23px !important;
            font-size: 16px !important;
            text-align: start !important;
        }
        .titolo_dati{
            font-size: 22px !important;
          }
          .elenco{
            font-size: 12px !important;
          }

    }

    @media (max-width: 1400px){
        .img_bio{
            width: 160px;
            height: 160px;
        }
        .biografia{
            margin-top: 50px;
        }
    }




